[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-socketio = "*"
simple-websocket = "*"
flask-login = "*"

[dev-packages]

[requires]
python_version = "3.8"
