{% extends 'base.html' %}

{% block head %}
    <title>Web Messenger - Home</title>
{%  endblock %}

{% block body %}


{% if current_user.is_authenticated %}


<h3>Welcome, {{ current_user.username }}!</h3>

<div style="display: inline-flex;">
    <form action="{{ url_for('logout') }}" method="GET">
        <button type="submit">Logout</button>
    </form>

    <form action="#" method="GET">
        <button type="submit" style="margin-left: 5px;">Change Info</button>
    </form>

    <form action="#" method="GET">
        <button type="submit" style="margin-left: 5px;">Delete User</button>
    </form>
    <hr>
</div>

<hr>

<h3>WebChat</h3>

<ul id="messages"></ul>
    <input type='text' id='myMessage'>
    <button id='sendbutton'>Send</button>



<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {

        const socket = io('http://127.0.0.1:5000/');

        socket.on('connect', function() {
            socket.send('I\'m connected!');
        });

        socket.on('message', function(msg) {
            $('#messages').append('<li>'+msg+'</li>');
            console.log('Received message.');
        });

        $('#sendbutton').on('click', function() {
            socket.send($('#myMessage').val());
            $('#myMessage').val('');
        });

    });
</script>


{% else %}


<h3><u>Account</u></h3>

<form action="/register" method="GET">
    <button type="submit">Register</button>
</form>
<br>
<hr>


<h3><u>Login</u></h3>

{% if login_error %}
    <h3>E-mail and password do not check, sorry</h3>
{% endif %}

    <form action="{{ url_for('login') }}" method="POST">
        <label for="email">E-mail: </label>
        <input type="email" name="email" id="email">
        <br>
        <br>
        <label for="pwd">Password: </label>
        <input type="password" name="pwd" id="pwd">
        <br>
        <br>
        <button type="submit">Login</button>
    </form>


{% endif %}

{% endblock %}