{% extends 'base.html' %}

{% block head %}
    <title>Web Messenger - Home</title>
{%  endblock %}

{% block body %}


{% if current_user.is_authenticated %}


<h3>Welcome, {{ current_user.username }}!</h3>

<div style="display: inline-flex;">
    <form action="{{ url_for('logout') }}" method="GET">
        <button type="submit">Logout</button>
    </form>

    <form action="{{ url_for('login') }}" method="GET">
        <button type="submit" style="margin-left: 5px;">LoginPage</button>
    </form>
    <hr>
</div>


{% else %}


<h3><u>Account</u></h3>

<form action="/register" method="GET">
    <button type="submit">Register</button>
</form>
<br>
<hr>


<h3><u>Login</u></h3>

{% if login_error %}
    <h3>E-mail and password do not check, sorry</h3>
{% endif %}

    <form action="{{ url_for('login') }}" method="POST">
        <label for="email">E-mail: </label>
        <input type="email" name="email" id="email">
        <br>
        <br>
        <label for="pwd">Password: </label>
        <input type="password" name="pwd" id="pwd">
        <br>
        <br>
        <button type="submit">Login</button>
    </form>


{% endif %}

{% endblock %}