{% extends 'base.html' %}

{% block head %}
    <title>WebMessenger - Register</title>
{% endblock %}

{% block body %}


{% if current_user.is_authenticated %}

<h3>Welcome, {{ current_user.username }}!</h3>

<div style="display: inline-flex;">
    <form action="{{ url_for('logout') }}" method="GET">
        <button type="submit">Logout</button>
    </form>

    <form action="{{ url_for('login') }}" method="GET">
        <button type="submit" style="margin-left: 5px;">LoginPage</button>
    </form>
    <hr>
</div>

{% else %}

<h3><u>Register</u></h3>


    {% if info_error %}
        <h3>E-mail, username and name <strong>MUST</strong> be unique, sorry =s</h3>
    {% endif %}


    <form action="{{ url_for('register') }}" method="POST">
        <label for="email">E-mail: </label>
        <input type="email" name="email" id="email" required>
        <br>
        <br>
        <label for="pwd">Password: </label>
        <input type="password" name="pwd" id="pwd" required>
        <br>
        <br>
        <label for="username">Username: </label>
        <input type="text" name="username" id="username" required>
        <br>
        <br>
        <label for="name">Name: </label>
        <input type="name" name="name" id="name" required>
        <br>
        <br>
        <button type="submit">Confirm</button>
    </form>

    {% endif %}

{% endblock %}